<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Movie form</title>
</head>
<body>
	<h2>Hello input a title and your rating (1-5):</h2>
	<form action="#" th:action="@{/movie}" th:object="${movie}" method="post">
	Title: <input type="text" th:field="*{title}" /> 
		<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </span> <br />
	Rating: <input type="number" min="1" max ="5" th:field="*{rating}" />
	    <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"> </span> <br /> 
	Name: <input type="text" th:field="*{name}" /> 
	    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </span> <br /> 
	<input type="submit" value="Submit" />
	</form>
</body>